meson
pyelftools
pybind11
pysimdjson
ipaddr
scapy
dill
setuptools
backtrace
ipdb
termcolor
colored
pyyaml
ujson
ruamel.yaml
git+https://github.com/p4lang/p4runtime-shell.git@9c197dee6d9cc48d0958d27f1f151c94239145b9#p4runtime-shell
